/*********************************/
/*************COLORS**************/
/*********************************/
$white: #FFFFFF;
$black: #000000;
$yellow: #FDC847;
$purple: #821C49;
$red: #C22827;
$bcg-color: $white;