.btn{
    display: block;
    color: $black;
    background-color: $yellow;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-family: 'RobotoR';
    border-radius: 5px;
    padding: 8px 3%;
    &:hover{
        color: $white;
        background-color: $purple;
        cursor: pointer;
    }
    @include mq($from: tablet){
        font-size: 20px;
        padding: 12px 3%;   
        max-width: 500px;
    }
    &-edge{
        display: block;
        color: $purple;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-family: 'RobotoL';
        border-radius: 5px;
        padding: 6px;
        border: 1px solid $purple;
        width: 150px;
        margin: 0 auto;
        &:hover{
            color: $yellow;
            background-color: $purple;
            cursor: pointer;
        }
    }
    &--cta{
        margin: 0 $gutters;
        @include mq($from: 500px){
            font-size: 20px;
            padding: 12px 6px;   
            max-width: 500px;
            margin: 0 auto;
        }
    }
    &--more{
        padding: 40px;
        margin: -40px;
    }
}
#arrow-cta{
    position: absolute;
    left: 24px;
    padding-left: $igsu;
    position: absolute;
    bottom: 32px;
    @include mq($from: desktop){
        left: 48px;
        bottom: 48px;
    }
    p{
        text-transform: uppercase;
        font-family: 'RobotoR';
        font-size: 14px;
        transition: 1s cubic-bezier(.86,0,.07,1);
    }
    svg{
        height: auto;
        position: inherit;
        top: inherit;
        right: inherit;
        display: block;
        width: 200px;
    }
}