body{
    position: relative;
    @include mq($from: 0px, $until: desktop){
        overflow-x: hidden;
        header{
            background-color: $purple;
            height: $inuit-global-spacing-unit-large;
            position: fixed;
            width: 100%;
            z-index: 10;
            .site-nav{
                width: 300px;
                background-color: $purple;
                position: absolute;
                top: 4.464em;
                height: 100vh;
                transform: translateX(-300px);
                transition: transform 0.5s;
            }
            .hamburger:focus ~ .site-nav{
                transform: translateX(0);
                transition: transform 0.5s;
                width: 300px;
    
            }
        }
        &.has-sidebar{
            .site-nav{
                transform: translateX(0);
                transition: transform 0.5s;
                width: 300px;
            }
        }
    }
    @include mq($from: desktop, $until: 4000px){
        header{
            position: fixed;
            z-index: 10;
            padding: $inuit-global-spacing-unit 0 0 0;
            width: 100%;
            display: block;
            margin: 0 auto;
            .hamburger{
                display: none;
            }
            .site-nav{
                text-align: center;
                .menu{
                    &__item{
                        display: inline-block;
                        margin-right: $inuit-global-spacing-unit-large;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        a{
                            text-decoration: none;
                            color: $white;
                            text-transform: uppercase;
                            padding: $inuit-global-spacing-unit-tiny 0 0 0;
                            &:hover{
                                border-top: 2px solid $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
    