@include mq($from: 0px){
    footer{
        background-color: $purple;
        color: $white;
        h3{
            font-family: 'RobotoB';
            font-size: 20px;
            text-transform: uppercase;
        }
        .newsletter{
            background-color: $yellow;
            color: $purple;
            input#name{
                background-color: inherit;
                border: 1px solid $purple;
                border-radius: 5px;
                padding: $inuit-global-spacing-unit-tiny;
                width: 100%;
            }
            input[type="submit"]{
                background-color: $purple;
                border: none;
                padding: $inuit-global-spacing-unit-small;
                color: $yellow;
                text-transform: uppercase;
                font-size: 20px;
                font-family: 'RobotoL';
                margin: 0 auto;
                display: block;
            }
            h3, p, form{
                max-width: 500px;
                margin: 0 auto;
            }
        }
        .about{
            display: inline-block;
            @include mq($from: 500px){
                text-align: center;
            }
            &__container{
                margin: 0 auto;
                h3{
                    font-size: 20px;
                    font-family: 'Whoopass';
                    display: inline-block;
                    max-width: 54px;
                    text-align: center;
                    word-wrap: break-word;
                    line-height: 0.9;
                    //margin: 5% auto 0;
                }
                p{
                    max-width: 400px;                
                }
            }
            .social{
                text-align: center;
                p{
                    display: inline-block;
                    svg{
                        height: 30px;
                    }
                }
            }
            h3+p{
                margin-left: 12px;
                display: inline-block;
                width: 74%;
                vertical-align: top;
            }
        }
        .partner{
            svg{
                width: 70px;
                margin: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small 0 0;
            }
        }
        .lastActu{
            width: 100%;
           &__item{
               margin-top: $inuit-global-spacing-unit-small;
               position: relative;
               max-width: 400px;
                img{
                    width: 50px;
                    margin-right: $inuit-global-spacing-unit-small;
                }
                .info{
                    display: inline-block;
                    vertical-align: top;
                    &__title{
                        font-family: 'RobotoM';
                    }
                }
                svg{
                    fill: $white;
                    width: 20px;
                    position: absolute;
                    right: 0;
                }
           }
        }
        @include mq($from: tablet){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            .newsletter{
                width: 100%;
            }
            .about{
                width: 50%;
            }
            .lastActu{
                width: 50%;
            }
            .partner{
                width: 100%;
                svg{
                    width: 60px;
                }
            }
            @include mq($from: desktop){
                .about, .lastActu{
                    width: 30%;
                }
                .partner{
                    width: 40%;
                }
            }
        }
    }
}