@include mq($from: 0px){
    footer{
        background-color: $purple;
        color: $white;
        h3{
            font-family: 'RobotoB';
            font-size: 20px;
            text-transform: uppercase;
        }
        .newsletter{
            background-color: $yellow;
            color: $purple;
            h3{
                text-align: center;
            }
            span{
                padding: $igsu;
                font-size: 40px;
                font-family: 'Whoopass';
                color: $purple;
                width: 156px;
                text-align: center;
                word-wrap: break-word;
                line-height: 0.9;
                margin: 0 auto;
                display: block;
                vertical-align: bottom;
            }
            p{
                font-size: 20px;
                max-width: 500px;
                margin: 0 auto; 
            }
            .form{
                margin: $igsul $gutters 0;
                @include mq($from: desktop){
                    text-align: center;
                }
                fieldset {
                    position: relative;
                    margin-bottom: $igsul;
                    @include mq($from: desktop){
                        max-width: 400px;
                    }
                    @include mq($from: tablet){
                        display: inline-block;
                        width: calc(50% - 15px);
                        &:first-of-type{
                            margin-right: $igsu;
                        }
                    }
                    label{
                        font-family: 'RobotoR';
                        color: $purple;
                        font-size: 24px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all .3s ease-in-out;
                        &.focus{
                            top: -30px;
                            font-size: 20px!important;
                            font-family: 'RobotoB';
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    input{
                        background: none;
                        border: none;
                        font-family: 'RobotoR';
                        padding: 10px 10px 10px 5px;
                        width: 100%;
                        &:hover{
                            cursor: pointer;
                        }
                        &:focus{
                            outline: none;
                        }
                        &.input{
                            transition: all .2s ease-in-out;
                            border-bottom: 3px solid $purple;
                            &:focus{
                                border: 3px solid $purple;
                                transition: all .2s ease-in-out;
                            }
                            &.ok{
                                border-bottom: 3px solid #1abc9c                            
                            }
                        }
                    }
                }
                input[type=submit]{
                    border: none;
                    background: none;
                    background: $purple;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: $igsus 0;
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    border-radius: 5px;
                    border: 2px solid $purple;
                    @include mq($from: tablet){
                        font-size: 20px;
                        width: auto;
                        padding: $igsus $igsu;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: $yellow;
                        color: $purple;
                    }
                }
            }
            @include mq($from: desktop){
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: nowrap;
                padding: 0 8.333333%;
                .title{
                    width: 20%;
                    span{
                        padding-top: $igsus;
                    }
                }
                .form{
                    width: 80%;
                    margin: $igsul 0 0 $igsul;
                    input[type=submit]{
                        display: inline-block;
                        margin-left: $igsu;
                    }
                }
            }
        }
        .nav{
            
            display: inline-block;
            @include mq($from: 500px){
            }
            h3{
                margin-bottom: $igsus;
            }
            .secondMenu{
                &__item{
                    &:not(:last-of-type){
                        margin-bottom: $igsus;
                    }
                    a{
                        text-decoration: none;
                        color: $white;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .partner{
            svg{
                width: 70px;
                margin: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small 0 0;
            }
        }
        .lastActu{
            width: 100%;
           &__item{
               display: block;
               margin-top: $inuit-global-spacing-unit-small;
               position: relative;
               max-width: 400px;
               &:hover{
                   cursor: pointer;
                   .info{
                   text-decoration: underline;
                   
                   }
               }
                img{
                    width: 50px;
                    margin-right: $inuit-global-spacing-unit-small;
                }
                .info{
                    display: inline-block;
                    vertical-align: top;
                    &__title{
                        font-family: 'RobotoM';
                    }
                }
                svg{
                    fill: $white;
                    width: 20px;
                    position: absolute;
                    right: 0;
                }
           }
        }
        @include mq($from: 0px){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            .newsletter{
                width: 100%;
            }
            .nav{
                width: 100%;
                @include mq($from: 610px){
                    width: 38%;
                }
                @include mq($from: tablet){
                    width: 33%;
                }
                @include mq($from: desktop){
                    width: 25%;
                }
            }   
            .lastActu{
                width: 100%;
                @include mq($from: 610px){
                    width: 50%;
                }
                @include mq($from: desktop){
                    width: 33%;
                }
            }         
            .partner{
                width: 100%;
                @include mq($from: desktop){
                    width: 40%;
                }
                svg{
                    width: 60px;
                }
            }
            @include mq($from: desktop){
                
                .partner{
                    //width: 40%;
                }
            }
        }
    }
}