body{
    position: relative;
    .menu>.menu__item.sla{
        display: none;
    }
    @include mq($from: 0px, $until: desktop){
        overflow-x: hidden;
        header{
            background-color: $purple;
            height: $inuit-global-spacing-unit-large;
            position: fixed;
            width: 100%;
            z-index: 10;
            .site-nav{
                width: 300px;
                background-color: $purple;
                position: absolute;
                height: 100vh;
                transform: translateX(-300px);
                transition: transform 0.5s;
                .menu{
                    &__item{
                        padding: $igsus 0;
                        &.sla{
                            margin: $igsu auto 0;
                            display: block;
                            font-size: 40px;
                            font-family: 'Whoopass';
                            color: $white;
                            width: 111px;
                            text-align: center;
                            word-wrap: break-word;
                            line-height: 0.9;
                            @media (max-height: 845px){
                               margin-top: $igsus;
                               margin-bottom: $igsu !important;
                            }
                            @media (max-height: 660px){
                                font-size: 30px;
                                width: 90px;
                                margin-bottom: $igsus !important;
                            }
                            @media (max-height: 570px){
                                margin: 0 auto $igsus !important;
                                padding: 0;
                            }
                        }
                        &:not(.sla){
                            text-align: center;
                        }
                        a{
                            text-decoration: none;
                            color: $white;
                            font-family: 'RobotoM';
                            text-transform: uppercase;
                            font-size: 20px;
                        }
                        &:not(:last-of-type){
                            margin-bottom: $igsul;
                            @media (max-height: 830px){
                                margin-bottom: $igsu;
                            }
                            @media (max-height: 660px){
                                margin-bottom: $igsus;
                            }
                            @media (max-height: 525px){
                                margin: 0;
                            }
                        }
                        &.active,
                        &:hover:not(.sla):not(:last-child),
                        &:focus:not(.sla):not(:last-child) {
                            background-color: $yellow;
                            padding: $igsus 0;
                            a{
                                color: $black;
                            }
                        }
                    }
                    &__item:last-child{
                        padding: 0;
                        .search-icon{
                            top: 0px;
                            display: inline-block;
                        }
                        form{
                            opacity: 0;                                    
                        }
                        &.open{
                            form{
                                opacity: 1;
                                display: inline-block;
                            }
                            .search-icon{
                                margin-right: 12px;
                            }
                        }
                    }
                }
            }
            .hamburger:focus ~ .site-nav{
                transform: translateX(0);
                transition: transform 0.5s;
                width: 300px;
    
            }
        }
        .header{
            padding-top: 0;
        }
        &.has-sidebar{
            .site-nav{
                transform: translateX(0);
                transition: transform 0.5s;
                width: 300px;
            }
        }
    }
    @include mq($from: desktop){
        header{
            position: fixed;
            z-index: 10;
            padding: $inuit-global-spacing-unit 0 0 0;
            width: 100%;
            display: block;
            margin: 0 auto;
            .hamburger{
                display: none;
            }
            .site-nav{
                text-align: center;
                .menu{
                    //transition: .5s cubic-bezier(.86, 0, .07, 1);
                    &__item{
                        display: inline-block;
                        margin-right: $inuit-global-spacing-unit-large;
                        position: relative;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        &:hover,
                        &.active{
                            a{
                                border-top: 2px solid $white;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: $white;
                            text-transform: uppercase;
                            padding: $inuit-global-spacing-unit-tiny 0 0 0;
                            &:focus {
                                border-top: 2px solid $white;
                            }
                        }
                        form{
                            position: absolute;
                            opacity: 0;
                            top: -24px;left: 45px;
                            transition: .2s cubic-bezier(.86,0,.07,1);
                        }
                        &.open{
                            form{
                                opacity: 1;
                                transition: .2s cubic-bezier(.86,0,.07,1);
                            }
                        }
                    }
                }
                .menu.open{
                    transform: translateX(-10%);
                    transition: .5s cubic-bezier(.86, 0, .07, 1);
                }
                .onScroll{
                    background: #4e283a;
                    transition: .5s cubic-bezier(.86, 0, .07, 1);
                    .menu__item.logo {
                        vertical-align: middle;
                        span.logo {
                            padding: $igsu;
                            font-size: 20px;
                            font-family: 'Whoopass';
                            color: $white;
                            background-color: $purple;
                            width: 105px;
                            text-align: center;
                            word-wrap: break-word;
                            line-height: 0.9;
                            display: block;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
    }
}
    