.wrapper{
    @include mq($from: 0px){
        .introduction{
            background-size: cover;
            height: 100vh;
            &__tagline{
                font-family: 'RobotoL';
                color: $white;
                text-align: center;
                font-size: 20px;
                max-width: 300px;
                margin: 0 auto;
                margin-top: $igsul !important; 
                line-height: 1.2;
            }
            h2{
                padding-top: $inuit-global-spacing-unit-huge; 
                font-size: 80px;
                width: 222px;
            }
            @include mq($from: tablet){
                &__container{
                    h2{
                        padding-top: $igsu * 6; 
                    }
                    .introduction__tagline{
                        margin-top: $igsu * 5 !important; 
                    }
                }
            }
            @include mq($from: desktop){
                &__container{
                    h2{
                        padding-top: $inuit-global-spacing-unit * 8; 
                    }
                    .introduction__tagline{
                        margin-top: $inuit-global-spacing-unit * 7 !important; 
                    }
                }
            }
            @include mq($from: tablet){
                &__container{
                    max-width: 550px;
                    margin: 0 auto;
                    position: relative;
                }
                h2, &__tagline{
                    display: inline-block;
                }
                &__tagline{
                    text-align: left;
                    padding-left: 24px !important;
                    position: absolute;
                    top: 92px;
                    right: 0;
                    border-left: 1px solid;
                }
            }
            &__cta{
                text-align: center;
                max-width: 740px;
                margin: 0 auto;
                .btn{
                    display: inline-block;
                    width: 46%;
                    &--anim{
                        margin: inherit;
                    }
                }
                .btn:nth-child(1){
                    margin-right: $inuit-global-spacing-unit-small;
                }
                
            }
        }
        .activitie{
            padding: $igsul 0;
            h2{
                padding-left: 8.33333%;
                margin-bottom: $igsu;
            }
            a.clickable{
                text-decoration: none;
                color: $white;
                height: 230px;
                @include mq($from: 400px){
                    height: 200px;
                }
                @include mq($from: tablet){
                    height: 250px;
                }
                @include mq($from: 800px){
                    height: 230px;
                }
                position: relative;
                width: 100%;
                display: inline-flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: wrap;
                &:hover{
                    #arrow-cta{
                        p{
                            letter-spacing: 3px;
                            transition: .1s cubic-bezier(.86,0,.07,1);
                        }
                    }
                }
                @include mq($from: tablet){
                    &:nth-child(2n+2){
                        margin-left: $igsu;
                    }
                }
                @include mq($from: desktop){
                    height: 300px;
                }
                position: relative;
                background-size: cover;
                @include mq($from: tablet){
                    width: calc( (#{$gutters} * 6) - 12px );
                    &:nth-child(1){
                        margin-top: 0 !important;
                        margin-bottom: $inuit-global-spacing-unit;
                    }
                }
                h3{
                    width: 100%;
                    font-family: 'Rubik';
                    padding: $inuit-global-spacing-unit 0 0 $inuit-global-spacing-unit;
                    @include mq($from: desktop){
                        padding: $inuit-global-spacing-unit-large 0 0 $inuit-global-spacing-unit-large;
                        font-size: 20px;
                    }
                    span{
                        border-bottom: 1px solid $yellow;
                    }
                    &+p{
                        width: 100%;
                        margin-top:  $inuit-global-spacing-unit-small;
                        padding: 0 $inuit-global-spacing-unit;
                        @include mq($from: desktop){
                            margin-top:  $inuit-global-spacing-unit-large;
                            padding: 0 $inuit-global-spacing-unit-large;
                        }
                    }
                }
                .btn{
                    width: auto;
                    //position: absolute;
                    //bottom: 48px;
                   // width: 78%;
                   margin: 0 !important;
                   align-self: center;
                   position: absolute;
                   bottom: $igsu;
                   @include mq($from: desktop){
                       bottom: $igsul;
                   }
                }
                svg{
                    display: none;
                }
                @include mq($from: 0px, $until: desktop){
                    .btn{
                        //display: none;
                        span{
                            @include mq($from: tablet){
                                display: none;
                            }
                        }
                    }
                    svg{
                        fill: $white;
                        height: 20px; 
                        position: absolute;
                        top: $inuit-global-spacing-unit;
                        right: 0;
                        display: block;
                    }
                }
                &:nth-child(1){
                    background-image: url('../images/Artistes.jpg');
                }
                &:nth-child(2){
                    background-image: url('../images/Concerts.jpg');
                    @include mq($from: tablet){
                        margin-bottom: $igsu;
                    }
                }
                &:nth-child(3){
                    background-image: url('../images/Art_urbains.jpg');
                }
                &:nth-child(4){
                    background-image: url('../images/Expositions.jpg');
                }
            }
            @include mq($from: tablet){
                &__flex{
                    margin: 0 $gutters;
                    width: $gutters * 10;
                }
                h2{
                    margin-bottom: $inuit-global-spacing-unit;
                    flex-basis: 100%;
                }
            }
            
            .btn{
                margin: 0 8.33333%;
                @include mq($from: tablet){
                    margin: 0 auto;                    
                }
            }
            @include mq($from: 1450px){
                max-width: $max-size;
                margin: 0 auto;
                h2{
                    padding-left: 0;
                }
                &__flex{
                    margin: 0;
                    width: auto;
                }
            }
        }
        .artist{
            background-color: $grey;
            padding: $igsul 0;
            h2{
                padding-left: 8.33333%;
                @include mq($from: 1450px, $until: 1650px){
                    max-width: $max-size;
                    margin: 0 auto;
                    padding-left: 0;
                }
            }
            &__container{
                //margin: 0 $gutters;
                @include mq($from: 425px){
                    margin: 0 $gutters;
                }
                .item{
                    position: relative;
                    text-decoration: none;
                    color: $white;
                    display: block;
                    overflow: hidden;
                    &:hover{
                        .item__info{
                            top: 0;
                            width: 100%;height: 100%;
                            display: block;
                            background-color: rgba(130, 28, 72, 0.5);
                            padding-left: $igsul;
                            //text-align: center;
                            padding-top: 10%;
                            transition: 1s cubic-bezier(.86,0,.07,1);
                        }
                    }
                    @include mq($from: tablet){
                        display: inline-block;
                        width: calc( (100% - 30px) /2 );
                        &:nth-of-type(2n+1){
                            margin-right: $igsu;
                        }
                        &:nth-of-type(1n+3){
                            margin-top: $igsu;
                        }
                    }
                    @include mq($from: 1650px){
                        width: calc( (100% - 88px) /4 );
                        margin-top: 0;
                        &:not(:last-of-type){
                            margin-right: $igsu;
                        }
                    }
                    img{
                        width: 100%; height: auto;
                    }
                    &__info{
                        position: absolute;
                        top: 40%;
                        background-color: $purple;
                        padding: $igsu $igsul;
                        transition: 1s cubic-bezier(.86,0,.07,1);
                        h3{
                            font-family: 'RobotoB';
                            font-size: 20px;
                            span{
                                text-transform: uppercase;
                            }
                        }
                        p{
                            margin-top: $igsut;
                            font-family: 'RobotoL';
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }
                @include mq($from: 1450px, $until: 1650px){
                    max-width: $max-size;
                    margin: 0 auto;
                }
            }
            .btn{
                margin: 0 8.33333%;
                @include mq($from: tablet){
                    margin: 0 auto;                    
                }
            }
        }
        .event{
            &>a:not(.btn){
                text-decoration: none;
                color: $black;
                display: block;
                &:hover{
                    background-color: $grey;
                }
            }
            padding: $igsul 0;
            .btn{
                margin: 0 8.33333%;
                @include mq($from: 750px){
                    margin: 0 auto;                    
                }
            }
            h2{
                padding-left: 8.33333%;
                @include mq($from: 900px){
                    text-align: center;
                    padding-left: 0;
                } 
            }
            .content,
            .content .title{
                @include mq($from: 500px){
                    font-size: 20px;
                }
            }
            @include mq($from: 0px, $until: 873px){
                &__item{
                    position: relative;
                    margin-top: $inuit-global-spacing-unit;
                    margin: $inuit-global-spacing-unit 8.33333% 0;
                    .head{
                        height: 100px;
                        overflow: hidden;
                        position: relative;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            background-color: $yellow;
                            span{
                                color: $purple;
                                font-family: 'RobotoB';
                                font-size: 27px;
                                text-transform: uppercase;
                                text-align: center;
                                vertical-align: middle;
                                padding-top: 15%;
                                display: block;
                            }
                            &+img{
                                vertical-align: top;
                                position: absolute;
                                width: 100%;
                            }
                        }
                        @include mq($from: 450px){
                            height: 150px;
                            .date{
                                height: 150px;width: 150px;
                                span{
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                    .title{
                        font-family: 'RobotoB';
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                        svg{
                            height: 15px;
                        }
                    }
                    a{
                        
                        position: absolute;
                        top: 115px;
                        right: 0;
                        @include mq($from: 450px){
                            top: 165px;
                        }
                        svg{
                            height: 20px;
                        }
                    }
                }
                &>a:not(:first-of-type){
                    display: none;
                }
            }
            /*790px*/
            @include mq($from: 873px){
                &>a:first-of-type{
                    margin-top: $inuit-global-spacing-unit;
                }
                &>a:nth-child(2n+2){
                    .date{
                        background-color: $purple;
                    }
                    span{
                        color: $grey;
                    }
                }
                &>a:nth-child(2n+1){
                    .date{
                        background-color: $grey;
                    }
                    span{
                        color: $purple;
                    }
                }
                &>a:not(:last-of-type){
                    margin-bottom: 5px;
                }
                &__item{
                    position: relative;
                    margin:0 8.33333%;
                    text-align: center;
                    //height: 100px;
                    &:not(:first-of-type){
                       // margin-top: $inuit-global-spacing-unit-small;
                    }
                    .head{
                        width: 212px;
                        height: 100px;
                        overflow: hidden;
                        display: inline-block;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            vertical-align: top;
                        }
                        span{
                            font-family: 'RobotoB';
                            font-size: 25px;
                            text-transform: uppercase;
                            text-align: center;
                            vertical-align: middle;
                            padding-top: 15%;
                            display: block;
                        }
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .content{
                        //width: calc( (#{$gutters} * 6) );
                        width: auto;
                        display: inline-block;  
                        vertical-align: top;
                        margin-left: $igsu;
                            text-align: left;
                    }
                    .title{
                        font-family: 'RobotoB';
                        width: auto;
                        @include mq($until: 800px){
                            max-width: 340px
                        }
                        vertical-align: top;
                        margin-top: 0 !important;
                        padding-top: 0;
                        
                            margin-top: $igsu !important;
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                            display: inline-block;
                        svg{
                            height: 15px;
                            margin-right: 0 !important;
                        }
                    }
                    .hour{
                        margin-right: $igsus;
                    }
                    address{
                        margin-left: $igsus;
                    }
                }
            }
        }
        .instagram{
            padding: $igsul 0;
            position: relative;
            background-color: $grey;
            svg{
                width: 20px;
                display: block;
                margin: 0 auto;
            }
            h2{
                color: $black;
                text-transform: uppercase;
                text-align: center;
                >span{
                    font-family: 'RobotoL';
                    font-size: 16px;
                    display: block;
                    letter-spacing:3px;
                }
            }
            @include mq($from: 0px, $until: tablet){
                #arrowRight, #arrowLeft{
                    display: none;
                }
            }
            #arrowRight, #arrowLeft{
                height: 20px;
                position: absolute;
                top: 61%;
            }
            #arrowLeft{
                left: -42px;
            }
            #arrowRight{
                right: -42px;
            }
            &__gallery{
                width: ( 100% - 8.33333% - 8.33333% );
                text-align: center;
                margin: 0 auto;
                img{
                    width: 49%;
                    @include mq($from: tablet){
                        width: 24%;
                    }
                }
            }
        }
        .twitter{
            position: relative;
            background-color: $grey;
            padding: $igsul 0 $igsuh;            
            svg{
                height: 20px;
                display: block;
                margin: 0 auto;
                &:hover{
                    cursor: pointer;
                    fill: $purple;
                }
            }
            h2{
                color: $black;
                text-transform: uppercase;
                text-align: center;
                >span{
                    font-family: 'RobotoL';
                    font-size: 16px;
                    display: block;
                    letter-spacing:3px;
                }
            }
            &__item{
                text-align: center;
                p{
                    max-width: 235px;
                    margin: 0 auto;
                    @include mq($from: tablet){
                        max-width: 500px;
                    }
                    &+p{
                        width: 100%;
                    }
                }
            }
            #arrowLeft, #arrowRight{
                height: 20px;
                position: absolute;
                top: 46%;
                @include mq($from: tablet){
                    top: 41%;
                }
            }
            #arrowRight{
                right: 0;
            }
            @include mq($from: tablet, $until: wide){
                #arrowLeft{
                    padding-right: 30%;
                    left: 10%;
                }
                #arrowRight{
                    padding-left: 30%;
                    right: 10%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
            @include mq($from: wide){
                #arrowLeft{
                    left: 23%;
                    padding-right: 20%;
                }
                #arrowRight{
                    right: 23%;
                    padding-left: 20%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
        }
    }
} 