.wrapper{
    @include mq($from: 0px){
        .map{
            margin-top: $igsu;
            p{
                margin: 0 $gutters $igsul;
                @include mq($from: desktop){ 
                    max-width: 650px;
                }
            }
            .hang{      
                span{
                    padding: $igsu;
                    font-size: 40px;
                    font-family: 'Whoopass';
                    color: $white;
                    background-color: $purple;
                    width: 156px;
                    text-align: center;
                    word-wrap: break-word;
                    line-height: 0.9;
                    margin: $igsu auto 0;
                    display: block;
                    vertical-align: bottom;
                    
                    @include mq($from: 600px){
                        display: inline-block;
                    }
                }
                p{
                    margin: $igsu $gutters 0;
                    max-width: 610px;
                    @include mq($from: 600px){
                        margin: 0 auto;
                        font-size: 20px;
                    }
                    @include mq($from: 600px){
                        margin-top: $igsul;
                    }
                }
                .content{
                    max-width: 610px;
                    margin: 0 auto;
                    @include mq($from: 600px){
                        margin: 0 auto $igsul;
                    }
                    .info{
                        margin: 0 $gutters;
                        @include mq($from: 0px, $until: 600px){
                            margin-bottom: $igsul;
                        }
                        @include mq($from: 600px){
                            display: inline-block;
                            margin-top: $igsu;
                        }
                        div{
                            &:first-of-type{
                                margin-top: 41px;
                            }
                            &:last-of-type{
                                margin-bottom: 11px;
                            }
                            svg{
                                width: 30px;
                                fill: $black;
                            }
                            p{
                                width: 200px;
                                line-height: 1;
                                font-size: 20px;
                                color: $black;
                                display: inline-block;
                                margin: 0 0 0 $igsu;
                                vertical-align: top;
                                @include mq($from: 380px){
                                    width: 250px;
                                }
                            }
                            &:nth-of-type(2){
                                margin: 20px 0;
                            }
                        }
                    }
                }
                @include mq($from: 1410px){
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;;
                    margin: $igsul $gutters $igsul;
                    p{
                        margin: 0;
                    }
                    .content{
                        margin: 0;
                        max-width: inherit;
                        display: inline-flex;
                        //align-self: center;
                        height: 171px;
                        margin-left: 48px;
                        span{
                            margin: 0 $igsul $igsu auto;
                        }
                        .info{
                            margin: 0;
                            div{
                                margin-top: 0;
                                &:first-of-type{
                                    margin-top: 0;
                                }
                                p{
                                    margin-left: $igsus;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}