.wrapper{
    @include mq($from: 0px){
        .introduction {
            h2#branding.shadow {
                color: $purple;
                text-shadow: #fff 1px 1px 5px;
            }
            .location{
                background-color: $purple;
                display: inline-block;
                padding: $inuit-global-spacing-unit;
                position: absolute;
                top: 50%;
                a{
                    color: $white;
                    text-decoration: none;
                    &:hover,
                    &:focus{
                        text-decoration: underline;
                    }
                }
            }
        }
        .description{
            display: flex;
            flex-direction: column-reverse;
            @include mq($from: desktop){
                flex-direction: row;
                align-items: flex-start;
            }
            flex-wrap: wrap;
            justify-content: flex-start;
            img{
                width: 100%;
                height: auto;
                @include mq($from: desktop){
                    width: 60%;
                    align-self: normal;
                    height: 800px;
                }
            }
            >div{
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                padding: 0 $gutters;
                @include mq($from: 550px){
                    padding: 0;
                }
                @include mq($from: desktop){
                    width: 40%;
                    align-self: normal;
                    padding: 0 $igsul;
                }
                @include mq($from: wide){
                    max-width: 700px;
                }
                background-color: $white;
                color: #3f3e3e;
                h3{
                    margin-top: $inuit-global-spacing-unit;
                    font-size: 24px;
                    font-family: 'Rubik';
                    color: $purple;
                    @include mq($from: desktop){
                        margin-top: 25%;
                    }
                }
                p{
                    margin-top: $inuit-global-spacing-unit;
                    max-width: 500px;
                    @include mq($from: wide){
                        max-width: 700px;
                    }
                }
                a{
                    margin: $inuit-global-spacing-unit 0;
                }
                .theme{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    p{
                        width: auto;
                        a{
                            color: $black;
                            font-family: 'RobotoL';
                            text-transform: uppercase;
                            text-decoration: none;
                            :hover,
                            :focus{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .btn{
                    margin: $inuit-global-spacing-unit auto;
                }
            }
        }
        .artwork{
            img+img{
                margin-top: -4px;
            }
            img{
                width: 100%;
            }
            @include mq($from: desktop){
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-end;
                img{
                    width: 50%;
                }
            }
        }
        #map{
            height: 250px;
            margin-top: -4px;
            @include mq($from: tablet){
                height: 400px;
            }
        }
        .social{
            background-color: $purple;
            color: $white;
            padding: $igsu 0;
            @include mq($from: tablet){
                padding: $igsuh 0;
            }
            h2{
                font-family: 'RobotoL';
                font-size: 20px;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding: $inuit-global-spacing-unit $gutters;
                @include mq($from: tablet){
                    margin-bottom: $igsu;
                }
            }
            div{
                text-align: center;
                a{
                    display: block;
                    &:hover,
                    &:focus{
                        svg{
                            fill: $yellow;
                        }
                    }
                    svg{
                        fill: $white;
                        height: 63px;
                    }
                    &:nth-of-type(2){
                        margin: $inuit-global-spacing-unit-large 0;
                    }
                    &:last-of-type{
                        padding-bottom: $inuit-global-spacing-unit;
                    }
                }
            }
            @include mq($from: tablet){
                div{
                    text-align: center;
                    a{
                        display: inline-block;
                        &:nth-of-type(2){
                            margin:0 $inuit-global-spacing-unit-huge;
                        }
                    }
                }
            }
        }
    }
}