.newsletterValidation{
    position: relative;
    height: 500px;
    background: $purple;
    .success-message {
        text-align: center;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .success-message__icon {
        max-width: 75px;
    }

    .success-message__title {
        color: $white;
        transform: translateY(25px);
        opacity: 0;
        transition: all 200ms ease;
        .active & {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .success-message__content {
        color: $white;
        transform: translateY(25px);
        opacity: 0;
        transition: all 200ms ease;
        transition-delay: 50ms;
        .active & {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .icon-checkmark {
        circle {
            fill: $white;
            transform-origin: 50% 50%;
            transform: scale(0);
            transition: transform 200ms cubic-bezier(.22, .96, .38, .98);
        }
        path {
            fill: $white;
            transition: stroke-dashoffset 350ms ease;
            transition-delay: 100ms;
        }
        .active & {
            circle {
                transform: scale(1);
            }
        }
    }
}