.wrapper{
    @include mq($from: 0px){
        .introduction.litle{
            height: 300px;
            @include mq($from: desktop){
                height: 400px;
            }
            h2{
                padding-top: $igsuh !important;
            }
        }
        .information{
            margin-bottom: 208px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            @include mq($from: desktop){
                position: relative;
                top: -90px;
                margin-bottom: 0px;
            }
            address,
            .time{
                width: 100%;
                font-size: 20px;
                line-height: 1;
                @include mq($from: 500px){
                    font-size: 30px;
                }
                svg{
                    height: 40px;
                    display: inline-block;
                }
                span{
                    display: inline-block;
                    width: 70%;
                }
            }
            address{
                background-color: $yellow;
                color: $purple;
                padding: $igsul 0;
                text-align: left;
                svg{
                    fill: $purple;
                    margin: 0 $igsu 0 $gutters;
                }
            }
            .time{
                background-color: $purple;
                color: $white;
                padding: $igsul 0;
                text-align: right;
                svg{
                    margin: 0 $gutters 0 $igsu;
                    fill: $white;
                }
            }
            @include mq($from: desktop){
                flex-direction: row;
                justify-content: center;
                top: -90px;
                @include mq($from: 1803px){
                    top: -75px;
                }
                address,
                .time{
                    width: 40%;
                }
            }
        }
        .program{
            margin-top: -174px;
            @include mq($from: desktop){
                margin-top: -45px;
            }
            *,
            :after, :before {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box
            }
            h1, h2, h3, h4 {
                font-family: "Oswald-Medium", "SourceSansPro-Regular", sans-serif
            }
            .timeline{
                max-width: 90%;
                margin: $igsul $gutters;
                position: relative;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                &>a{
                    text-decoration: none;
                   
                }
                &.day1,
                &.day2,
                &.day3{
                    display: none;
                }
                &:before{
                    content: "";
                    width: 3px;
                    height: 100%;
                    background: $purple;
                    left: 50%;
                    top: 0;
                    position: absolute;
                }
                &:after {
                    content: "";
                    clear: both;
                    display: table;
                    width: 100%;
                }
                .timeline-item {
                    margin-bottom: 50px;
                    position: relative;
                    &:after, &:before{
                        content: '';
                        display: block;
                        width: 100%;
                        clear: both;
                    }
                    
                    .timeline-icon {
                        background: $purple;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        overflow: hidden;
                        margin-left: -23px;
                        border-radius: 50%;
                        &:after{
                            display: block;
                            content:'';
                            width: 20px;height: 20px;
                            background-color: $white;
                            border-radius: 50px;
                            position: absolute;
                            top: 15px;right: 15px;
                        }
                    }
                    .timeline-content {
                        width: 45%;
                        background: #fff;
                        color: $black;
                        padding: 20px;
                        -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
                        box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
                        border-radius: 5px;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                        h2{
                            font-family: 'RobotoB';
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            padding: 15px;
                            background: $purple;
                            color: $white;
                            margin: -20px -20px 0;
                            font-weight: 300;
                            border-radius: 5px 5px 0 0;
                        }
                        span:first-of-type {
                            margin-top: $igsu;
                            font-family: 'RobotoB';
                        }
                        address{
                            font-family: 'RobotoB';
                        }
                        p{
                            margin-top: $igsut;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            left: 45%;
                            top: 20px;
                            width: 0;
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid $purple;
                        }
                        &.right:before {
                            content: '';
                            right: 45%;
                            left: inherit;
                            border-left: 0;
                            border-right: 7px solid $purple;
                        }
                        &.right {
                            float: right;
                        
                        }
                        span {
                            display: block;
                        }
                    }
                }
            }
            #day1:target,
            #day2:target,
            #day3:target{
                display: block;
            }
            #all:target{
                display: block;
            }
            @include mq($until: tablet){
                .timeline {
                    margin: 30px;
                    padding: 0;
                    width: 90%;

                }
                .timeline .timeline-item .timeline-content {
                    width: 90%;
                    float: right;
                }
                .timeline .timeline-item .timeline-content.right:before,
                .timeline .timeline-item .timeline-content:before {
                    left: 10%;
                    margin-left: -6px;
                    border-left: 0;
                    border-right: 7px solid $purple;
                }
                .timeline .timeline-item .timeline-icon,
                .timeline:before {
                    left: 0;
                }
            }
            &__navigation{
                display: flex;
                flex-direction: column;
                @include mq($from : 470px){
                    flex-direction: row;
                }
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: 0 $gutters;
                a{
                    margin-top: $igsus;
                    width: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'RobotoR';
                    color: $purple;
                    border: 2px solid $purple;
                    border-radius: 50px;
                    padding: $igsus $igsu;
                    &:hover,&.active{
                        background: $yellow;
                        border-color:  $yellow;
                    }
                    svg{
                        height: 16px; width: 18px;
                        fill: $purple;
                        display: inline-block;
                    }
                }
                .day{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    width: 100%;
                    @include mq($from:540px){
                        flex-direction: row;
                    }
                    @include mq($from:1950px){
                        width: calc( 66.666667% - 36px);
                        margin-right: $igsus;
                        a:last-of-type{
                            margin-right: 0;
                        }
                    }
                    a{
                        width: 100%;
                        @include mq($from:540px){
                            width: calc( 50% - #{$igsut} );
                            &:nth-of-type(2n+1){
                                margin-right: $igsus;
                            }
                            @include mq($from: 1283px){
                                &:nth-of-type(2){
                                    margin-right: $igsus;
                                }
                            }
                        }
                        @include mq( $from : 1283px){
                            width: calc( 25% - 9px );
                            
                        }
                        @include mq($from:1950px){
                            width: calc( 25% - 9px );
                            margin-right: $igsus;
                        }
                    }
                }
                @include mq($from: 470px){
                    .order{
                        width: calc( 50% - #{$igsut} );
                        margin-right: $igsus;
                        @include mq($from:1950px){
                            width: calc( 16.6666665% - #{$igsut} );
                            margin-right: $igsus;
                        }
                    }
                    .interactiv{
                        width: calc( 50% - #{$igsut} );
                        @include mq($from:1950px){
                            width: calc( 16.6666665% - #{$igsut} );
                        }
                    }
                }
            }
            .timeline{
                a:hover{
                    cursor: pointer;
                    .timeline{
                        &-item{
                            .timeline-content{
                                h2{
                                    background: rgba(134, 46, 85, 0.8);
                                }
                                
                        &:before {
                            content: '';
                            position: absolute;
                            left: 45%;
                            top: 20px;
                            width: 0;
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid rgba(134, 46, 85, 0.8);
                        }
                        &.right:before {
                            content: '';
                            right: 45%;
                            left: inherit;
                            border-left: 0;
                            border-right: 7px solid rgba(134, 46, 85, 0.8);
                        }
                            }
                        }
                    }
                }
            }
        }
        .map{
            margin-top: $igsuh;
            h2{
                margin: 0 $gutters $igsu;
            }
            .overlay{
                background:transparent; 
                position:relative; 
                width: calc( 100% - 8.33333% - 8.33333% );
                height:480px; /* your iframe height */
                top:480px;  /* your iframe height */
                margin-top:-480px;  /* your iframe height */
            }
            iframe{
                width: 100%;
                @include mq($from: desktop){
                    width: calc( 100% - 8.33333% - 8.33333% );
                    margin: 0 $gutters;
                }
            }
        }
    }
}