.wrapper{
    @include mq($from: 0px){
        .introduction{
            background-size: cover;
            height: 100vh;
            min-height: 600px;
            &__tagline{
                font-family: 'RobotoL';
                color: $white;
                text-align: center;
                font-size: 20px;
                max-width: 300px;
                margin: 0 auto;
                margin-top: $igsul !important; 
                line-height: 1.2;
            }
            h2{
                padding-top: $inuit-global-spacing-unit-huge; 
                font-size: 50px;
                width: 140px;
                @include mq($from: tablet){
                    font-size: 80px;
                    width: 222px;
                }
                // @media (min-height: 700px){
                //     font-size: 80px;
                //     width: 222px;
                // }
            }
            @include mq($from: tablet){
                &__container{
                    h2{
                        padding-top: $igsu * 6; 
                    }
                    .introduction__tagline{
                        margin-top: $igsu * 5 !important; 
                    }
                }
            }
            @include mq($from: desktop){
                &__container{
                    h2{
                        padding-top: $inuit-global-spacing-unit * 8; 
                    }
                    .introduction__tagline{
                        margin-top: $inuit-global-spacing-unit * 7 !important; 
                    }
                }
            }
            @include mq($from: tablet){
                &__container{
                    max-width: 550px;
                    margin: 0 auto;
                    position: relative;
                }
                h2, &__tagline{
                    display: inline-block;
                }
                &__tagline{
                    text-align: left;
                    padding-left: 24px !important;
                    position: absolute;
                    top: 92px;
                    right: 0;
                    border-left: 1px solid;
                }
            }
            @media (max-height: 700px){
                &__container{
                    h2{
                        padding-top: 100px;
                        @media (max-height: 600px){
                            padding-top: 70px;
                        }
                    }
                    .introduction__tagline{
                        margin-top: 75px !important;
                        @media (max-height: 600px){
                            margin-top: 45px!important;
                        }
                    }
                }
                @media (max-height: 600px){
                    &__cta{
                        a{
                            margin-top: 0 !important;
                        }
                    }
                }
            }
            &__cta{
                text-align: center;
                max-width: 740px;
                margin: 0 auto;
                .btn{
                    display: inline-block;
                    width: calc( 100% - ( #{$gutters} * 2 ) );
                    @include mq($from: 450px){
                        width: 46%;
                    }
                    &--anim{
                        margin: inherit;
                    }
                }
                .btn:nth-child(1){
                    @include mq($from: 450px){
                        margin-right: $inuit-global-spacing-unit-small;
                    }
                    @include mq($from: 0px,$until: 450px){
                         margin-bottom: $igsus ;
                    
                    }
                }
                @include mq($from: 0px, $until: 450px){
                    .btn:nth-child(2){
                        margin-top: 0px;
                    }
                }
            }
        }
        .activitie{
            padding: $igsul 0;
            h2{
                padding-left: 8.33333%;
                margin-bottom: $igsu;
            }
            .flex{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                @include mq($from: 425px){
                    margin: 0 $gutters;
                }
                a.clickable{
                    text-decoration: none;
                    color: $white;
                    height: auto;
                    width: 100%; 
                    overflow: hidden;
                    @include mq($from: tablet){
                        width: calc( (100% - 30px) /2 );
                        &:nth-of-type(2n+1){
                            margin-right: $igsu;
                        }
                        &:nth-of-type(1n+3){
                            margin-top: $igsu;
                        }
                    }
                    .flex__item{
                        position: relative;
                        height: 100%;
                        img{
                            width: 100%;
                        }
                       .container{
                        background-color: $purple;
                        position: absolute;
                        top: 50%;                   
                        transition: 1s cubic-bezier(.86,0,.07,1);
                        width: 50%;
                        height: 75px;
                        @include mq($from: 1100px){
                            width: 40%;
                        }
                        h3{
                            font-size: 20px;
                            font-family: 'RobotoB';
                            margin: $igsu 0 0 $igsus;
                            @include mq($from: desktop){
                            margin: $igsu 0 0 $igsul;
                            }
                            
                            @include mq($from: 1500px){
                                font-size: 24px;
                            }
                            transition: 1s cubic-bezier(.86,0,.07,1);
                            svg{
                                width: 15px;
                                height: 15px;
                                fill: $white;
                                margin-left: $igsut;
                                transform: rotate(0deg);
                                transition: .5s cubic-bezier(.86,0,.07,1);
                            }
                        }
                        h3,p{
                            z-index: 1;
                        }
                        p{
                            opacity: 0;
                            transition: 1s cubic-bezier(.86,0,.07,1);
                            max-width: 450px;
                        }
                       }
                    }
                    &:hover{
                        .flex__item{
                            .container{
                                background-color: rgba(130, 28, 72, 0.5);
                                transition: 1s cubic-bezier(.86,0,.07,1);
                                top: 0;left: 0;
                                height: 100%;
                                width: 100%;
                                h3{
                                    transition: 1s cubic-bezier(.86,0,.07,1);
                                    @include mq($from: 500px){
                                        margin: $igsul 0 0 $igsus;
                                    }
                                    @include mq($from: 1200px){
                                        margin: $igsul $igsul 0 $igsul;
                                    }
                                    @include mq($from: wide){
                                        margin-top: 15%;
                                    }
                                    svg{
                                        transform: rotate(90deg);
                                        transition: .5s cubic-bezier(.86,0,.07,1);
                                    }
                                }
                                p{
                                    opacity: 1;
                                    margin: $igsus $igsus 0;
                                    transition: 1s cubic-bezier(.86,0,.07,1);
                                    @include mq($from: 1200px){
                                        margin: $igsu $igsul 0 $igsul;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .artist{
            background-color: $grey;
            padding: $igsul 0;
            h2{
                padding-left: 8.33333%;
                @include mq($from: 1450px, $until: 1650px){
                    max-width: $max-size;
                    margin: 0 auto;
                    padding-left: 0;
                }
            }
            &__container{
                //margin: 0 $gutters;
                @include mq($from: 425px){
                    margin: 0 $gutters;
                }
                .item{
                    position: relative;
                    text-decoration: none;
                    color: $white;
                    display: block;
                    overflow: hidden;
                    &:hover{
                        .item__info{
                            top: 0;
                            width: 100%;height: 100%;
                            display: block;
                            padding-left: $igsul;
                            //text-align: center;
                            padding-top: 10%;
                            background-color: rgba(130, 28, 72, 0.5);
                            transition: 1s cubic-bezier(.86,0,.07,1);
                        }
                    }
                    @include mq($from: tablet){
                        display: inline-block;
                        width: calc( (100% - 30px) /2 );
                        &:nth-of-type(2n+1){
                            margin-right: $igsu;
                        }
                        &:nth-of-type(1n+3){
                            margin-top: $igsu;
                        }
                    }
                    @include mq($from: 1650px){
                        width: calc( (100% - 88px) /4 );
                        margin-top: 0;
                        &:not(:last-of-type){
                            margin-right: $igsu;
                        }
                    }
                    img{
                        width: 100%; height: auto;
                    }
                    &__info{
                        position: absolute;
                        top: 40%;
                        width: 75%;height: 50%;
                        background-color: $purple;
                        padding:  $igsu $igsu 0 $igsu  ;
                        transition: 1s cubic-bezier(.86,0,.07,1);
                        h3{
                            font-family: 'RobotoB';
                            font-size: 20px;
                            span{
                                text-transform: uppercase;
                            }
                        }
                        p{
                            margin-top: $igsut;
                            font-family: 'RobotoL';
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }
                @include mq($from: 1450px, $until: 1650px){
                    max-width: $max-size;
                    margin: 0 auto;
                }
            }
            .btn{
                margin: 0 8.33333%;
                @include mq($from: tablet){
                    margin: 0 auto;                    
                }
            }
        }
        .event{
            &>a:not(.btn){
                text-decoration: none;
                color: $black;
                display: block;
                &:hover{
                    background-color: $grey;
                }
            }
            padding: $igsul 0;
            .btn{
                margin: 0 8.33333%;
                @include mq($from: 750px){
                    margin: 0 auto;                    
                }
            }
            h2{
                padding-left: 8.33333%;
                @include mq($from: 900px){
                    text-align: center;
                    padding-left: 0;
                } 
            }
            .content,
            .content .title{
                @include mq($from: 500px){
                    font-size: 20px;
                }
            }
            @include mq($from: 0px, $until: 893px){
                &__item{
                    position: relative;
                    margin-top: $inuit-global-spacing-unit;
                    margin: $inuit-global-spacing-unit 8.33333% 0;
                    padding: $igsus 0;
                    .head{
                        height: 100px;
                        overflow: hidden;
                        position: relative;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            background-color: $yellow;
                            span{
                                color: $purple;
                                font-family: 'RobotoB';
                                font-size: 27px;
                                text-transform: uppercase;
                                text-align: center;
                                vertical-align: middle;
                                padding-top: 15%;
                                display: block;
                            }
                            &+img{
                                vertical-align: top;
                                position: absolute;
                                width: 100%;
                            }
                        }
                        @include mq($from: 450px){
                            height: 150px;
                            .date{
                                height: 150px;width: 150px;
                                span{
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                    .title{
                        font-family: 'RobotoB';
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                        svg{
                            height: 15px;
                        }
                    }
                    a{
                        
                        position: absolute;
                        top: 115px;
                        right: 0;
                        @include mq($from: 450px){
                            top: 165px;
                        }
                        svg{
                            height: 20px;
                        }
                    }
                }
                &>a:not(:first-of-type){
                    display: none;
                }
            }
            /*790px*/
            @include mq($from: 893px){
                &>a:first-of-type{
                    margin-top: $inuit-global-spacing-unit;
                }
                &>a:nth-child(2n+2){
                    .date{
                        background-color: $purple;
                    }
                    span{
                        color: $grey;
                    }
                }
                &>a:nth-child(2n+1){
                    .date{
                        background-color: $grey;
                    }
                    span{
                        color: $purple;
                    }
                }
                &>a:not(:last-of-type){
                    margin-bottom: 5px;
                }
                &__item{
                    position: relative;
                    margin:0 8.33333%;
                    text-align: center;
                    padding: $igsus 0;
                    //height: 100px;
                    &:not(:first-of-type){
                       // margin-top: $inuit-global-spacing-unit-small;
                    }
                    .head{
                        width: 212px;
                        height: 100px;
                        overflow: hidden;
                        display: inline-block;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            vertical-align: top;
                        }
                        span{
                            font-family: 'RobotoB';
                            font-size: 25px;
                            text-transform: uppercase;
                            text-align: center;
                            vertical-align: middle;
                            padding-top: 15%;
                            display: block;
                        }
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .content{
                        //width: calc( (#{$gutters} * 6) );
                        min-width: 500px;
                        max-width: 500px;
                        width: auto;
                        display: inline-block;  
                        vertical-align: top;
                        margin-left: $igsu;
                            text-align: left;
                    }
                    .title{
                        font-family: 'RobotoB';
                        width: auto;
                        @include mq($until: 800px){
                            max-width: 340px
                        }
                        vertical-align: top;
                        margin-top: 0 !important;
                        padding-top: 0;
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                            display: inline-block;
                        svg{
                            height: 15px;
                            margin-right: 0 !important;
                        }
                    }
                    .hour{
                        margin-right: $igsus;
                    }
                    address{
                        margin-left: $igsus;
                    }
                }
            }
        }
        .instagram{
             padding: $igsul 0;
             position: relative;
             background-color: $grey;
             svg {
                 width: 20px;
                 display: block;
                 margin: 0 auto;
             }
             h2 {
                 color: $black;
                 text-transform: uppercase;
                 text-align: center;
                 >span {
                     font-family: 'RobotoL';
                     font-size: 16px;
                     display: block;
                     letter-spacing: 3px;
                 }
             }
                &__gallery {
                 width: ( 100% - 8.33333% - 8.33333%);
                 text-align: center;
                 margin: 0 auto;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 flex-wrap: wrap;
                 a {
                     width: 49%;
                     @include mq($from: tablet) {
                         width: 24%;
                         &:nth-child(n+5){
                             margin-top: $igsu;
                         }
                     }
                     img{
                         width: 100%;
                     }
                 }
             }
             #load-more{
                 margin-top: $igsu;
             }
        }
        .twitter{
            position: relative;
            background-color: $grey;
            padding: $igsul 0 $igsuh;            
            svg{
                height: 20px;
                display: block;
                margin: 0 auto;
                &:hover{
                    cursor: pointer;
                    fill: $purple;
                }
            }
            h2{
                color: $black;
                text-transform: uppercase;
                text-align: center;
                >span{
                    font-family: 'RobotoL';
                    font-size: 16px;
                    display: block;
                    letter-spacing:3px;
                }
            }
            &__item{
                text-align: center;
                p{
                    max-width: 235px;
                    margin: 0 auto;
                    @include mq($from: tablet){
                        max-width: 500px;
                    }
                    &+p{
                        width: 100%;
                    }
                }
            }
            #arrowLeft, #arrowRight{
                height: 20px;
                position: absolute;
                top: 46%;
                @include mq($from: tablet){
                    top: 41%;
                }
            }
            #arrowRight{
                right: 0;
            }
            @include mq($from: tablet, $until: wide){
                #arrowLeft{
                    padding-right: 30%;
                    left: 10%;
                }
                #arrowRight{
                    padding-left: 30%;
                    right: 10%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
            @include mq($from: wide){
                #arrowLeft{
                    left: 23%;
                    padding-right: 20%;
                }
                #arrowRight{
                    right: 23%;
                    padding-left: 20%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
        }
    }
} 