.wrapper{
    @include mq($from: 0px){
        .introduction{
            background-size: cover;
            background-position-x: -366px;
            height: 100vh;
            &__tagline{
                font-family: 'RobotoL';
                color: $white;
                text-align: center;
                font-size: 20px;
                max-width: 300px;
                margin: 0 auto;
                margin-top: $inuit-global-spacing-unit !important; 
            }
            h2{
                padding-top: $inuit-global-spacing-unit-huge; 
            }
            @include mq($from: tablet){
                &__container{
                    h2{
                        padding-top: $inuit-global-spacing-unit * 6; 
                    }
                    .introduction__tagline{
                        margin-top: $inuit-global-spacing-unit * 3 !important; 
                    }
                }
            }
            @include mq($from: desktop){
                &__container{
                    h2{
                        padding-top: $inuit-global-spacing-unit * 8; 
                    }
                    .introduction__tagline{
                        margin-top: $inuit-global-spacing-unit * 3 !important; 
                    }
                }
            }
            @include mq($from: tablet){
                &__container{
                    max-width: 550px;
                    margin: 0 auto;
                    position: relative;
                }
                h2, &__tagline{
                    display: inline-block;
                }
                &__tagline{
                    text-align: left;
                    padding-left: 24px !important;
                    position: absolute;
                    top: 92px;
                    right: 0;
                    border-left: 1px solid;
                }
            }
            &__cta{
                text-align: center;
                max-width: 740px;
                margin: 0 auto;
                .btn{
                    display: inline-block;
                    width: 46%;
                }
                .btn:nth-child(1){
                    margin-right: $inuit-global-spacing-unit-small;
                }
                
            }
        }
        .activitie{
            padding: $igsul 0;
            
            h2{
                padding-left: 8.33333%;
            }
            @include mq($from: tablet){
                &__flex{
                    margin: 0 $gutters;
                    width: $gutters * 10;
                }
                h2{
                    margin-bottom: $inuit-global-spacing-unit;
                    flex-basis: 100%;
                }
            }
            &__item{
                color: $white;
                height: 200px;
                position: relative;
                width: 100%;
                display: inline-flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: wrap;
                @include mq($from: tablet){
                    &:nth-child(2n+2){
                        margin-left: $igsu;
                    }
                }
                @include mq($from: desktop){
                    height: 300px;
                }
                position: relative;
                background-size: cover;
                @include mq($from: tablet){
                    width: calc( (#{$gutters} * 6) - 12px );
                    &:nth-child(1){
                        margin-top: 0 !important;
                        margin-bottom: $inuit-global-spacing-unit;
                    }
                }
                h3{
                    width: 100%;
                    font-family: 'Rubik';
                    padding: $inuit-global-spacing-unit 0 0 $inuit-global-spacing-unit;
                    @include mq($from: desktop){
                        padding: $inuit-global-spacing-unit-large 0 0 $inuit-global-spacing-unit-large;
                    }
                    span{
                        border-bottom: 1px solid $yellow;
                    }
                    &+p{
                        width: 100%;
                        margin-top:  $inuit-global-spacing-unit-small;
                        padding: 0 $inuit-global-spacing-unit;
                        @include mq($from: desktop){
                            margin-top:  $inuit-global-spacing-unit-large;
                            padding: 0 $inuit-global-spacing-unit-large;
                        }
                    }
                }
                &:nth-child(1){
                    background-image: url('../images/Artistes.jpg');
                }
                &:nth-child(2){
                    background-image: url('../images/Concerts.jpg');
                }
                &:nth-child(3){
                    background-image: url('../images/Art_urbains.jpg');
                }
                &:nth-child(4){
                    background-image: url('../images/Expositions.jpg');
                }
                .btn{
                    width: auto;
                    //position: absolute;
                    //bottom: 48px;
                   // width: 78%;
                   margin: 0 !important;
                   align-self: center;
                   position: absolute;
                   bottom: $igsu;
                   @include mq($from: desktop){
                       bottom: $igsul;
                   }
                }
                svg{
                    display: none;
                }
                @include mq($from: 0px, $until: desktop){
                    .btn{
                        //display: none;
                        span{
                            @include mq($from: tablet){
                                display: none;
                            }
                        }
                    }
                    svg{
                        fill: $white;
                        height: 20px; 
                        position: absolute;
                        top: $inuit-global-spacing-unit;
                        right: 0;
                        display: block;
                    }
                }
            }
            .btn{
                margin: 0 8.33333%;
                @include mq($from: tablet){
                    margin: 0 auto;                    
                }
            }
            @include mq($from: 1450px){
                max-width: $max-size;
                margin: 0 auto;
                h2{
                    padding-left: 0;
                }
                &__flex{
                    margin: 0;
                    width: auto;
                }
            }
        }
        .artist{
            background-color: $grey;
            padding: $igsul 0;
            h2{
                padding-left: 8.33333%;
            }
            @include mq($from: tablet){
                .o-layout--flush{
                    margin: 0 auto;
                }
            }
            .item{
                overflow: hidden;
                position: relative;
                width: 100%; 
                height: 150px;
                perspective: 30rem;
                @include mq($from: tablet){
                    //margin-top: 0 !important;
                    height: 350px;
                }
                &:hover .item__front{
                    transform: rotateY(180deg);
                }
                &:hover .item__back{
                    transform: rotateY(360deg);
                }
                &__front, &__back{
                    position: absolute;
                    width: 100%; 
                    height: 100%;
                    transition: transform 1s;
                    backface-visibility:hidden;
                }
                &__front{
                    img{
                        width: 100%;
                        position: absolute;
                        top: 0;left: 0;
                        z-index: -1;
                        @include mq($from: tablet){
                            width: auto;
                            left: -50%;
                        }
                    }
                    h3{
                        font-family: 'RobotoB';
                        font-size: 20px;
                        width: 155px;
                        word-break: break-word;
                        color: $white;
                        text-transform: uppercase;
                        @include mq($from: tablet){
                            padding-top: 250px !important;
                        }
                    }
                    p{
                        font-family: 'RobotoL';
                        font-size: 16px;
                        color: $white;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                }
                &__back{
                    background-color: $yellow;
                    transform: rotateY(180deg);
                    p{
                        color: $purple;
                        font-family: 'RobotoB';
                        text-transform: uppercase;
                        text-align: center;
                        word-break: break-word;
                        width: 107px;
                        margin: 0 auto;
                        @include mq($from: tablet){
                            padding-top: 100px !important;
                        }
                    } 
                }
                &:nth-child(1){
                    background-image: url('../images/bastien.jpg');
                    background-size: cover;
                    background-position-x: center; 
                }
                &:nth-child(2){
                    background-image: url('../images/maxime.jpg');
                    background-size: cover;
                    background-position-x: center; 
                }
                &:nth-child(3){
                    background-image: url('../images/mehdi.jpg');
                    background-size: cover;
                    background-position-x: center; 
                }
                &:nth-child(4){
                    background-image: url('../images/alexandre.jpg');
                    background-size: cover;
                    background-position-x: center; 
                }
                @include mq($from: desktop){
                    &:not(:last-of-type){
                        margin-right: 3.1%;
                    }
                }
            }
            @include mq($from: tablet, $until: desktop){
                .item:not(:nth-child(2)):not(:nth-child(4)){
                    margin-right:10.5%;
                }
                .item:nth-child(3),
                .item:nth-child(4){
                    margin-top: $inuit-global-spacing-unit ;
                }
            }
            .btn{
                margin: 0 8.33333%;
                @include mq($from: tablet){
                    margin: 0 auto;                    
                }
            }
        }
        .event{
            &>a:not(.btn){
                text-decoration: none;
                color: $black;
                display: block;
                &:hover{
                    background-color: $grey;
                }
            }
            padding: $igsul 0;
            .btn{
                margin: 0 8.33333%;
                @include mq($from: 750px){
                    margin: 0 auto;                    
                }
            }
            h2{
                padding-left: 8.33333%;
            }
            .content,
            .content .title{
                @include mq($from: 500px){
                    font-size: 20px;
                }
            }
            @include mq($from: 0px, $until: 790px){
                &__item{
                    position: relative;
                    margin-top: $inuit-global-spacing-unit;
                    margin: $inuit-global-spacing-unit 8.33333% 0;
                    .head{
                        height: 100px;
                        overflow: hidden;
                        position: relative;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            background-color: $yellow;
                            span{
                                color: $purple;
                                font-family: 'RobotoB';
                                font-size: 27px;
                                text-transform: uppercase;
                                text-align: center;
                                vertical-align: middle;
                                padding-top: 25%;
                                display: block;
                            }
                            &+img{
                                vertical-align: top;
                                position: absolute;
                                width: 100%;
                            }
                        }
                        @include mq($from: 450px){
                            height: 150px;
                            .date{
                                height: 150px;width: 150px;
                                span{
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                    .title{
                        font-family: 'RobotoB';
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                        svg{
                            height: 15px;
                        }
                    }
                    a{
                        
                        position: absolute;
                        top: 115px;
                        right: 0;
                        @include mq($from: 450px){
                            top: 165px;
                        }
                        svg{
                            height: 20px;
                        }
                    }
                }
                &>a:not(:first-of-type){
                    display: none;
                }
            }
            @include mq($from: 790px){
                &>a:first-of-type{
                    margin-top: $inuit-global-spacing-unit;
                }
                &>a:nth-child(2n+2){
                    .date{
                        background-color: $purple;
                    }
                    span{
                        color: $yellow;
                    }
                }
                &>a:nth-child(2n+1){
                    .date{
                        background-color: $yellow;
                    }
                    span{
                        color: $purple;
                    }
                }
                &__item{
                    position: relative;
                    margin:0 8.33333%;
                    &:not(:first-of-type){
                        margin-top: $inuit-global-spacing-unit-small;
                    }
                    .head{
                        //width: calc( (#{$gutters} * 6) - #{$igsu});
                        //max-width: 300px;
                        width: 212px;
                        height: 100px;
                        overflow: hidden;
                        display: inline-block;
                        .date, .date+img{
                            display: inline-block;
                        }
                        .date{
                            height: 100px;
                            width: 100px;
                            vertical-align: top;
                        }
                        span{
                            font-family: 'RobotoB';
                            font-size: 27px;
                            text-transform: uppercase;
                            text-align: center;
                            vertical-align: middle;
                            padding-top: 25%;
                            display: block;
                        }
                        img{
                            width: 100px;
                            height: 100px;
                            //width: calc( (#{$gutters} * 8) - 8px );
                            //position: absolute;
                            //vertical-align: top;
                            //width: 155px;
                        }
                    }
                    .content{
                        width: calc( (#{$gutters} * 6) );                        
                        display: inline-block;  
                        vertical-align: top;
                        margin-left: $igsu;
                    }
                    .title{
                        font-family: 'RobotoB';
                        width: auto;
                        @include mq($until: 800px){
                            max-width: 340px
                        }
                        vertical-align: top;
                        margin-top: 0 !important;
                        padding-top: 0;
                    }
                    .hour, address{
                        font-family: 'RobotoL';
                        svg{
                            height: 15px;
                        }
                    }
                }
            }
            @include mq($from: desktop){
                h2{
                    text-align: center;
                }
                &__item{
                    max-width: 810px;
                    margin: 0 auto;
                }                
            }
        }
        .instagram{
            padding: $igsul 0;
            position: relative;
            background-color: $grey;
            svg{
                width: 20px;
                display: block;
                margin: 0 auto;
            }
            h2{
                color: $black;
                text-transform: uppercase;
                text-align: center;
                >span{
                    font-family: 'RobotoL';
                    font-size: 16px;
                    display: block;
                    letter-spacing:3px;
                }
            }
            @include mq($from: 0px, $until: tablet){
                #arrowRight, #arrowLeft{
                    display: none;
                }
            }
            #arrowRight, #arrowLeft{
                height: 20px;
                position: absolute;
                top: 61%;
            }
            #arrowLeft{
                left: -42px;
            }
            #arrowRight{
                right: -42px;
            }
            &__gallery{
                width: calc( 100% - 8.33333% - 8.33333% );
                text-align: center;
                margin: 0 auto;
                img{
                    width: 49%;
                    @include mq($from: tablet){
                        width: 24%;
                    }
                }
            }
        }
        .twitter{
            position: relative;
            background-color: $grey;
            padding: $igsul 0 $igsuh;            
            svg{
                height: 20px;
                display: block;
                margin: 0 auto;
                &:hover{
                    cursor: pointer;
                    fill: $purple;
                }
            }
            h2{
                color: $black;
                text-transform: uppercase;
                text-align: center;
                >span{
                    font-family: 'RobotoL';
                    font-size: 16px;
                    display: block;
                    letter-spacing:3px;
                }
            }
            &__item{
                text-align: center;
                p{
                    max-width: 235px;
                    margin: 0 auto;
                    @include mq($from: tablet){
                        max-width: 500px;
                    }
                    &+p{
                        width: 100%;
                    }
                }
            }
            #arrowLeft, #arrowRight{
                height: 20px;
                position: absolute;
                top: 46%;
                @include mq($from: tablet){
                    top: 41%;
                }
            }
            #arrowRight{
                right: 0;
            }
            @include mq($from: tablet, $until: wide){
                #arrowLeft{
                    padding-right: 30%;
                    left: 10%;
                }
                #arrowRight{
                    padding-left: 30%;
                    right: 10%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
            @include mq($from: wide){
                #arrowLeft{
                    left: 23%;
                    padding-right: 20%;
                }
                #arrowRight{
                    right: 23%;
                    padding-left: 20%;
                }
                #arrowRight, #arrowLeft{
                    height: 50px;
                }
            }
        }
    }
} 