h2.sla{
    font-size: 40px;
    font-family: 'Whoopass';
    color: $white;
    width: 111px;
    text-align: center;
    word-wrap: break-word;
    line-height: 0.9;
    margin: 0 auto;
}
h2#branding{
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 30px;
    color: $white;
    text-align: center;
    display: block !important;
    span{
        font-family: 'Whoopass';
        font-size: 40px;
        width: 111px;
        display: block;
        margin: 0 auto;
        word-wrap: break-word; 
    }
}
section>h2{
    font-size: 20px;
    font-family: 'Rubik';
    color: $purple;
}